<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KnowMe.</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
  <link rel="stylesheet" href="style.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K6GSDF9');</script>
  <!-- End Google Tag Manager -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S6NJ37GZCK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-S6NJ37GZCK');
  </script>
  
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6GSDF9" height="0" width="0"
      style="display:none;visibility:hidden">
    </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="header">
    <div class="logo">
      <div class="header__back">
        <i class="fas fa-angle-left"></i>
      </div>
      <h3>KnowMe Club</h2>
    </div>
  </div>
  <div class="main">
    <input class="hidden" id="actionButton" type="button">
    <div class="main__left">
      <div class="videos__group">
        <div id="video-grid" class="video-grid">

        </div>
      </div>
      <div class="help_text_container_mobile">
        <div id="help_text_mobile"></div>
      </div>

      <div class="options">
        <div class="options__left">
          <div id="stopVideo" class="options__button pointer">
            <i class="fa fa-video-camera"></i>
          </div>
          <div id="muteButton" class="options__button pointer">
            <i class="fa fa-microphone"></i>
          </div>
          <div id="showChat" class="options__button pointer">
            <i class="fa fa-comment"></i>
          </div>
        </div>
        <div class="options__right">
          <!-- <div id="endCallButton" class="options__button">
            <i class="fas fa-times"></i>
          </div> -->
          <div class="help_text_container">
            <div id="help_text"></div>
          </div>

          <div id="skipCallButton" class="options__button pointer">
            <i class="fas fa-user-plus"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="main__right">
      <div class="main__chat_window">
        <div class="messages">

        </div>
      </div>
      <div class="main__message_container">
        <input id="chat_message" type="text" autocomplete="off" placeholder="Type message here...">
        <div id="send" class="options__button">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>